.gif-wrapper {
  padding: 1.75rem;
  background-color: #fff;
  position: relative;
  overflow: hidden;
  background-image: linear-gradient(90deg, #ddd 1px, transparent 1px), linear-gradient(#ddd 1px, transparent 1px);
  background-size: 100px 50px;
  background-position: -1px -1px;
}

.gif-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-bottom: 37%; /* Adjusted to match GIF's aspect ratio (470/1268 ≈ 0.37) */
  z-index: 10;
}

.gif-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (min-width: 768px) {
  .gif-wrapper {
    padding: 7rem /* 112px */;
  }
}

@media (min-width: 1536px) {
  .gif-container {
    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;
    aspect-ratio: 1268/470;
    padding-bottom: 0;
  }
  .gif-wrapper::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: radial-gradient(ellipse at center, transparent 50%, white 85%);
  }
}
