.timeline {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
}

.item {
  position: relative;
  padding-left: 2rem;
  margin-bottom: 2rem;
}

@media (min-width: 1024px) {
  .item {
    padding-left: 0px;
  }
}

@media (min-width: 1280px) {
  .item {
    padding-left: 2rem;
  }
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 0.25rem;
  z-index: 2;
  transition: background-color 0.3s ease;
}

.link {
  color: white;
  font-size: 1rem;
  text-decoration: none;
}

.activeText {
  font-weight: 600;
}

/* Highlight active TOC item and its children */
.table-of-contents__link--active {
  color: var(--tailCall-lightMode---primary-600) !important;
}

@media (prefers-color-scheme: dark) {
  .table-of-contents__link--active {
    color: var(--tailCall-lightMode---primary-400) !important;
  }
}
